name: Gerar PDF Profissional

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Atualizar pacotes
        run: sudo apt-get update

      - name: Instalar Pandoc + LaTeX básico + ferramentas
        run: |
          sudo apt-get install -y pandoc texlive-latex-base texlive-fonts-recommended texlive-fonts-extra texlive-latex-extra wget

      - name: Baixar template Eisvogel
        run: |
          wget https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/master/eisvogel.tex -O eisvogel.tex

      - name: Criar pasta docs/
        run: mkdir -p docs

      - name: Gerar PDF profissional (tema Eisvogel)
        run: |
          pandoc README.md \
            --from markdown \
            --output docs/DevNotes.pdf \
            --template eisvogel.tex \
            --listings \
            --toc \
            --metadata=title:"Dev Notes – CI/CD, Pipelines & TMMi" \
            --metadata=subtitle:"Estudos, práticas e fundamentos para equipes de Engenharia & QA" \
            --metadata=author:"Raquel G. de Souza"

      - name: Upload do PDF como artefato
        uses: actions/upload-artifact@v4
        with:
          name: devnotes-pdf
          path: docs/DevNotes.pdf
