name: Gerar PDF Profissional

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Instalar dependências
        run: |
          sudo apt update
          sudo apt install -y pandoc texlive texlive-latex-extra texlive-xetex unzip wget

      - name: Baixar Eisvogel completo
        run: |
          wget https://github.com/Wandmalfarbe/pandoc-latex-template/archive/refs/heads/master.zip -O eisvogel.zip
          unzip eisvogel.zip
          mkdir eisvogel
          cp -r pandoc-latex-template-master/template-multi-file/* eisvogel/

      - name: Criar docs/
        run: mkdir -p docs

      - name: Gerar PDF com Eisvogel multi-file
        run: |
          pandoc README.md \
            --from markdown \
            --template eisvogel/eisvogel.latex \
            --pdf-engine=xelatex \
            --data-dir eisvogel \
            --toc \
            --listings \
            --metadata=title:"Dev Notes – CI/CD, Pipelines & TMMi" \
            --metadata=author:"Raquel G. de Souza" \
            -o docs/dev-notes.pdf

      - name: Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dev-notes
          path: docs/dev-notes.pdf
